# Тактовый сигнал
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP "clk" SITE "B9";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

# Кнопки управления (key[0], key[1], key[2])
LOCATE COMP "enable" SITE "B13";  # Кнопка включения
IOBUF PORT "enable" IO_TYPE=LVCMOS33;

LOCATE COMP "rst" SITE "C13";  # Кнопка сброса
IOBUF PORT "rst" IO_TYPE=LVCMOS33;

LOCATE COMP "direction" SITE "D13";  # Переключатель направления
IOBUF PORT "direction" IO_TYPE=LVCMOS33;

LOCATE COMP "pwm_outA" SITE "A13";                # LED0
IOBUF PORT "pwm_outA" IO_TYPE=LVCMOS33;
LOCATE COMP "pwm_outB" SITE "A14";                # LED1
IOBUF PORT "pwm_outB" IO_TYPE=LVCMOS33;
