BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

FREQUENCY PORT "clk25" 25.0 MHz;
LOCATE COMP "clk25" SITE "B9";
IOBUF PORT "clk25" IO_TYPE=LVCMOS33;

LOCATE COMP "key[0]" SITE "B13";
IOBUF PORT "key[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "key[1]" SITE "C13";
IOBUF PORT "key[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "key[2]" SITE "D13";
IOBUF PORT "key[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "key[3]" SITE "E13";
IOBUF PORT "key[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "led[0]" SITE "A13";		# LED0
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "led[1]" SITE "A14";		# LED1
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "led[2]" SITE "A15";		# LED2
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "led[3]" SITE "B14";		# LED3
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "gpio[0]" SITE "L1";		# HUB_00 
IOBUF PORT "gpio[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[0]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "gpio[1]" SITE "L2";		# HUB_01 
IOBUF PORT "gpio[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[1]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "gpio[2]" SITE "M1";		# HUB_02 
IOBUF PORT "gpio[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[2]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "gpio[3]" SITE "M2";		# HUB_03 
IOBUF PORT "gpio[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[3]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "gpio[4]" SITE "K4";		# HUB_04 
IOBUF PORT "gpio[4]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[4]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "gpio[5]" SITE "K5";		# HUB_05 
IOBUF PORT "gpio[5]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[5]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "gpio[6]" SITE "L4";		# HUB_06 
IOBUF PORT "gpio[6]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[6]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "gpio[7]" SITE "L5";		# HUB_07 
IOBUF PORT "gpio[7]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[7]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "gpio[8]" SITE "M9";		# HUB_08 - N1 is used by QSPI0_SCLK 
IOBUF PORT "gpio[8]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[8]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "gpio[9]" SITE "P2";		# HUB_09 
IOBUF PORT "gpio[9]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[9]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "gpio[10]" SITE "L3";		# HUB_10 
IOBUF PORT "gpio[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[10]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "gpio[11]" SITE "M3";		# HUB_11 
IOBUF PORT "gpio[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[11]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "gpio[12]" SITE "P1";		# HUB_12 
IOBUF PORT "gpio[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[12]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "gpio[13]" SITE "R1";		# HUB_13 
IOBUF PORT "gpio[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[13]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "gpio[14]" SITE "M4";		# HUB_14 
IOBUF PORT "gpio[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[14]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "gpio[15]" SITE "N3";		# HUB_15 
IOBUF PORT "gpio[15]" IO_TYPE=LVCMOS33;
IOBUF PORT "gpio[15]" PULLMODE=NONE DRIVE=16;
LOCATE COMP "uart_debug_txd" SITE "E12";		# UART_DEBUG_TXD
IOBUF PORT "uart_debug_txd" IO_TYPE=LVCMOS33;
LOCATE COMP "uart_debug_rxd" SITE "D12";		# UART_DEBUG_RXD 
IOBUF PORT "uart_debug_rxd" IO_TYPE=LVCMOS33;
LOCATE COMP "rst_n" SITE "R8";		# FPGA_RESET
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "rs485_txd" SITE "A8";		# RS485_DI
IOBUF PORT "rs485_txd" IO_TYPE=LVCMOS33;
LOCATE COMP "rs485_rxd" SITE "A7";		# RS485_RO 
IOBUF PORT "rs485_rxd" IO_TYPE=LVCMOS33;
LOCATE COMP "rs485_de" SITE "C7";		# RS485_DE 
IOBUF PORT "rs485_de" IO_TYPE=LVCMOS33;
LOCATE COMP "i2c_sda" SITE "P7";		# EEPROM_I2C_SDA
IOBUF PORT "i2c_sda" IO_TYPE=LVCMOS33 DRIVE=8;
IOBUF PORT "i2c_sda" PULLMODE=UP;
LOCATE COMP "i2c_scl" SITE "R7";		# EEPROM_I2C_SCL
IOBUF PORT "i2c_scl" IO_TYPE=LVCMOS33;
IOBUF PORT "i2c_scl" PULLMODE=UP;
LOCATE COMP "eeprom_wp" SITE "R6";		# EEPROM_WP 
IOBUF PORT "eeprom_wp" IO_TYPE=LVCMOS33;
IOBUF PORT "eeprom_wp" PULLMODE=UP;
LOCATE COMP "config" SITE "T6";		# EEPROM_RESET 
IOBUF PORT "config" IO_TYPE=LVCMOS33;
IOBUF PORT "config" PULLMODE=UP;


LOCATE COMP "lan_mdc" SITE "A2";		# LAN_MDC
IOBUF PORT "lan_mdc" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_mdc" PULLMODE=NONE;
LOCATE COMP "lan_nint" SITE "B3";		# LAN_nINT
IOBUF PORT "lan_nint" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_nint" PULLMODE=NONE;
LOCATE COMP "lan_nrst" SITE "A3";		# LAN_nRST
IOBUF PORT "lan_nrst" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_nrst" PULLMODE=NONE;
LOCATE COMP "lan_txen" SITE "A4";		# LAN_TXEN
IOBUF PORT "lan_txen" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_txen" PULLMODE=NONE;
LOCATE COMP "lan_txclk" SITE "B4";		# LAN_TXCLK
IOBUF PORT "lan_txclk" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_txclk" PULLMODE=NONE;
# FREQUENCY PORT "lan_txclk" 25.0 MHz;
LOCATE COMP "lan_txd0" SITE "B5";		# LAN_TXD0
IOBUF PORT "lan_txd0" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_txd0" PULLMODE=NONE;
LOCATE COMP "lan_txd1" SITE "A5";		# LAN_TXD1
IOBUF PORT "lan_txd1" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_txd1" PULLMODE=NONE;
LOCATE COMP "lan_txd2" SITE "B6";		# LAN_TXD2
IOBUF PORT "lan_txd2" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_txd2" PULLMODE=NONE;
LOCATE COMP "lan_txd3" SITE "A6";		# LAN_TXD3
IOBUF PORT "lan_txd3" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_txd3" PULLMODE=NONE;
LOCATE COMP "lan_rxd0" SITE "D1";		# LAN_RXD0
IOBUF PORT "lan_rxd0" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_rxd0" PULLMODE=NONE;
LOCATE COMP "lan_rxd1" SITE "E2";		# LAN_RXD1
IOBUF PORT "lan_rxd1" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_rxd1" PULLMODE=NONE;
LOCATE COMP "lan_rxd2" SITE "E1";		# LAN_RXD2
IOBUF PORT "lan_rxd2" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_rxd2" PULLMODE=NONE;
LOCATE COMP "lan_rxd3" SITE "F2";		# LAN_RXD3
IOBUF PORT "lan_rxd3" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_rxd3" PULLMODE=NONE;
LOCATE COMP "lan_mdio" SITE "B1";		# LAN_MDIO
IOBUF PORT "lan_mdio" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_mdio" PULLMODE=NONE;
LOCATE COMP "lan_col" SITE "B2";		# LAN_COL
IOBUF PORT "lan_col" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_col" PULLMODE=NONE;
LOCATE COMP "lan_crs" SITE "C1";		# LAN_CRS
IOBUF PORT "lan_crs" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_crs" PULLMODE=NONE;
LOCATE COMP "lan_rxer" SITE "C2";		# LAN_RXER
IOBUF PORT "lan_rxer" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_rxer" PULLMODE=NONE;
LOCATE COMP "lan_rxdv" SITE "B7";		# LAN_RXDV
IOBUF PORT "lan_rxdv" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_rxdv" PULLMODE=NONE;
LOCATE COMP "lan_rxclk" SITE "F1";		# LAN_RXCLK
IOBUF PORT "lan_rxclk" IO_TYPE=LVCMOS33;
IOBUF PORT "lan_rxclk" PULLMODE=NONE;
# FREQUENCY PORT "lan_rxclk" 25.0 MHz;

LOCATE COMP "sram_cs" SITE "H15";		# SRAM #CS
IOBUF PORT "sram_cs" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_we" SITE "K14";		# SRAM #WE
IOBUF PORT "sram_we" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_oe" SITE "J14";		# SRAM #OE
IOBUF PORT "sram_oe" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_bhe" SITE "J16";		# SRAM #BHE
IOBUF PORT "sram_bhe" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_ble" SITE "J15";		# SRAM #BLE
IOBUF PORT "sram_ble" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_dat[0]" SITE "L16";	# SRAM D00
IOBUF PORT "sram_dat[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_dat[1]" SITE "L15";	# SRAM D01
IOBUF PORT "sram_dat[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_dat[2]" SITE "M16";	# SRAM D02
IOBUF PORT "sram_dat[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_dat[3]" SITE "M15";	# SRAM D03
IOBUF PORT "sram_dat[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_dat[4]" SITE "K13";	# SRAM D04
IOBUF PORT "sram_dat[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_dat[5]" SITE "K12";	# SRAM D05
IOBUF PORT "sram_dat[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_dat[6]" SITE "L13";	# SRAM D06
IOBUF PORT "sram_dat[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_dat[7]" SITE "L12";	# SRAM D07
IOBUF PORT "sram_dat[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_dat[8]" SITE "N16";	# SRAM D08
IOBUF PORT "sram_dat[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_dat[9]" SITE "P15";	# SRAM D09
IOBUF PORT "sram_dat[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_dat[10]" SITE "L14";	# SRAM D10
IOBUF PORT "sram_dat[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_dat[11]" SITE "M14";	# SRAM D11
IOBUF PORT "sram_dat[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_dat[12]" SITE "P16";	# SRAM D12
IOBUF PORT "sram_dat[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_dat[13]" SITE "R16";	# SRAM D13
IOBUF PORT "sram_dat[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_dat[14]" SITE "M13";	# SRAM D14
IOBUF PORT "sram_dat[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_dat[15]" SITE "N14";	# SRAM D15
IOBUF PORT "sram_dat[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[0]" SITE "N13";	# SRAM A00
IOBUF PORT "sram_addr[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[1]" SITE "P14";	# SRAM A01
IOBUF PORT "sram_addr[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[2]" SITE "R15";	# SRAM A02
IOBUF PORT "sram_addr[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[3]" SITE "T15";	# SRAM A03
IOBUF PORT "sram_addr[3]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[4]" SITE "P13";	# SRAM A04
IOBUF PORT "sram_addr[4]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[5]" SITE "R14";	# SRAM A05
IOBUF PORT "sram_addr[5]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[6]" SITE "R13";	# SRAM A06
IOBUF PORT "sram_addr[6]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[7]" SITE "T14";	# SRAM A07
IOBUF PORT "sram_addr[7]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[8]" SITE "R12";	# SRAM A08
IOBUF PORT "sram_addr[8]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[9]" SITE "T13";	# SRAM A09
IOBUF PORT "sram_addr[9]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[10]" SITE "M12";	# SRAM A10
IOBUF PORT "sram_addr[10]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[11]" SITE "N12";	# SRAM A11
IOBUF PORT "sram_addr[11]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[12]" SITE "M11";	# SRAM A12
IOBUF PORT "sram_addr[12]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[13]" SITE "N11";	# SRAM A13
IOBUF PORT "sram_addr[13]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[14]" SITE "P11";	# SRAM A14
IOBUF PORT "sram_addr[14]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[15]" SITE "P12";	# SRAM A15
IOBUF PORT "sram_addr[15]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[16]" SITE "K16";	# SRAM A16
IOBUF PORT "sram_addr[16]" IO_TYPE=LVCMOS33;
LOCATE COMP "sram_addr[17]" SITE "K15";	# SRAM A17
IOBUF PORT "sram_addr[17]" IO_TYPE=LVCMOS33;

LOCATE COMP "spiAudioDAC_sclk" SITE "C16";	# DAC SPI SCLK 
IOBUF PORT "spiAudioDAC_sclk" IO_TYPE=LVCMOS33;
LOCATE COMP "spiAudioDAC_miso" SITE "B16";	# DAC SPI MISO 
IOBUF PORT "spiAudioDAC_miso" IO_TYPE=LVCMOS33;
LOCATE COMP "spiAudioDAC_mosi" SITE "B15";	# DAC SPI MOSI 
IOBUF PORT "spiAudioDAC_mosi" IO_TYPE=LVCMOS33;
LOCATE COMP "spiAudioDAC_ss[0]" SITE "C15";	# DAC SPI CSn 
IOBUF PORT "spiAudioDAC_ss[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "spi0_sclk" SITE "R5";	# SPI0 SCLK/GPIO_24 
IOBUF PORT "spi0_sclk" IO_TYPE=LVCMOS33;
LOCATE COMP "spi0_miso" SITE "T4";	# SPI0 MISO/GPIO_25 
IOBUF PORT "spi0_miso" IO_TYPE=LVCMOS33;
LOCATE COMP "spi0_mosi" SITE "M5";	# SPI0 MOSI/GPIO_26
IOBUF PORT "spi0_mosi" IO_TYPE=LVCMOS33;
LOCATE COMP "spi0_ss[0]" SITE "N5";	# SPI0 CSn/GPIO_27 
IOBUF PORT "spi0_ss[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "hdmi_tmds_p[0]" SITE "A11";
IOBUF PORT "hdmi_tmds_p[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "hdmi_tmds_p[1]" SITE "D11";
IOBUF PORT "hdmi_tmds_p[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "hdmi_tmds_p[2]" SITE "B11";
IOBUF PORT "hdmi_tmds_p[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "hdmi_tmds_n[0]" SITE "A12";
IOBUF PORT "hdmi_tmds_n[0]" IO_TYPE=LVCMOS33;
LOCATE COMP "hdmi_tmds_n[1]" SITE "E11";
IOBUF PORT "hdmi_tmds_n[1]" IO_TYPE=LVCMOS33;
LOCATE COMP "hdmi_tmds_n[2]" SITE "C11";
IOBUF PORT "hdmi_tmds_n[2]" IO_TYPE=LVCMOS33;
LOCATE COMP "hdmi_tmds_clk_p" SITE "B12";
IOBUF PORT "hdmi_tmds_clk_p" IO_TYPE=LVCMOS33;
LOCATE COMP "hdmi_tmds_clk_n" SITE "C12";
IOBUF PORT "hdmi_tmds_clk_n" IO_TYPE=LVCMOS33;

LOCATE COMP "qspi0_cs" SITE "N8";
IOBUF PORT "qspi0_cs" IO_TYPE=LVCMOS33;
LOCATE COMP "qspi0_sclk" SITE "N1"; // GPIO_08, should be M9
IOBUF PORT "qspi0_sclk" IO_TYPE=LVCMOS33;
LOCATE COMP "qspi0_io0" SITE "T8";
IOBUF PORT "qspi0_io0" IO_TYPE=LVCMOS33;
LOCATE COMP "qspi0_io1" SITE "T7";
IOBUF PORT "qspi0_io1" IO_TYPE=LVCMOS33;
LOCATE COMP "qspi0_io2" SITE "M7";
IOBUF PORT "qspi0_io2" IO_TYPE=LVCMOS33;
LOCATE COMP "qspi0_io3" SITE "N7";
IOBUF PORT "qspi0_io3" IO_TYPE=LVCMOS33;

